body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ff9a9e; /* Замените градиент на монотонный цвет */
    margin: 0;
    padding: 20px;
    color: white;}

#game-container {
    max-width: 600px;
    margin: auto;
    background: transparent; /* Сделать фон прозрачным */
    padding: 20px;
    border-radius: 10px;
    box-shadow: none; /* Убрать тень */
}

#flower-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    transition: background 0.5s ease-in-out;
}

.flower {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-image: url('img/images-removebg-preview.png');
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.flower:hover {
    transform: scale(1.2);
    filter: brightness(1.3);
}

.hidden {
    display: none;
}

#message {
    font-size: 22px;
    font-weight: bold;
    color: #ff1a5e;
    margin-top: 20px;
    text-shadow: 2px 2px 10px rgba(255, 0, 102, 0.5);
}

.animated-text {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    }
    to {
        text-shadow: 4px 4px 20px rgba(255, 255, 255, 1);
    }
}

.menu-style {
    text-align: center;
    background: #ff9a9e; /* Замените градиент на монотонный цвет */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.animated-title {
    font-size: 2em;
    animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.menu-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#start-button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background: #ff4d79;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#start-button:hover {
    background: #ff1a5e;
}

#user-input {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ff4d79;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#user-input:focus {
    border-color: #ff1a5e;
}
